services:
  namenode:
    build: .
    container_name: namenode
    hostname: namenode
    ports:
      - "9870:9870"
      - "9000:9000"
      - "8088:8088"
    networks:
      - hadoop-net

  datanode1:
    build: .
    container_name: datanode1
    hostname: datanode1
    ports:
      - "9864:9864"
    networks:
      - hadoop-net

  datanode2:
    build: .
    container_name: datanode2
    hostname: datanode2
    ports:
      - "9865:9864"
    networks:
      - hadoop-net

networks:
  hadoop-net:
    external: true