services:
  postgres-db:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: ssafyuser
      POSTGRES_PASSWORD: ssafy
      POSTGRES_DB: ssafydb
    ports:
      - "5442:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - shared-net
volumes:
  postgres-data:

networks:
  shared-net:
    external: true
    name: shared-net